.card-container {
  display: flex;
  justify-content: space-between;
  width: 281px;
  height: 134px;
  border: 1px solid grey;
  background-image: url(https://i.pinimg.com/originals/d6/07/72/d607724b1fa1e366b8d9e075728282da.jpg);
  background-size: cover;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);

  ::-webkit-scrollbar {
    display: none;
  }

  img {
    width: 30%;
    height: 100%;
  }

  .content {
    width: 65%;
    margin-bottom: 5px;
    overflow: scroll;

    .button {
      width: 100%;
      font-size: 11px;
      color: black;
      border-color: black;
    }

    .author {
      font-size: 8px;
      margin: 0;
    }

    .title {
      font-family: "Bree Serif", serif;
      font-size: 12px;
    }

    .description {
      height: 25%;
      overflow: scroll;
      font-size: 10px;
      text-align: justify;
    }
  }

  &:hover {
    transform: scale(1.048);
  }
}
